<script src="{{ '/js/autocomplete.js' | url }}" type="text/javascript"></script>
<script src="{{ '/libraries/maps/legend.js' | url }}" type="text/javascript"></script>
<script src="{{ '/js/stations_map_mapbox.js' | url }}" type="text/javascript"></script>
