---
permalink: "notte.html"
---
<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <title>{{ 'notte.head_title' | i18n | makeHeadTitle }}</title>
    {% include 'head.njk' %}
</head>

<body>
    {% include 'notte.njk' %}
</body>

</html>
