---
permalink: "en/affidabilita.html"
---
<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <title>{{ 'affidabilita.head_title' | i18n | makeHeadTitle }}</title>
    {% include 'head.njk' %}
</head>

<body>
    {% include 'affidabilita.njk' %}
</body>

</html>
